@font-face {
  font-family: 'pixel';
  src: url('fonts/PxPlus_VGA_SquarePx.ttf'),
    url('fonts/PxPlus_VGA_SquarePx.woff');
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f05;
}

* {
  box-sizing: border-box;
  scrollbar-color: #0f05 #000;
}

html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000;
  background-image: url('img/pirate.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #0f0;
}

p,
li,
ul,
h2,
span {
  margin: 0px;
}
h2 {
  word-break: break-all;
}
i {
  color: #f00;
}
a {
  color: #fa0;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  min-width: 300px;
  max-width: 700px;
  margin: auto;
}
.title-center {
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
  background-color: transparent;
  text-align: center;
  font-family: 'pixel', monospace;
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  /* width: 33%;
    min-width: 300px; */
  /* width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -o-max-content; */
  -webkit-animation: input-shadow ease-in-out 3s infinite;
  /* Chrome, Safari, Opera */
  animation: input-shadow ease-in-out 3s infinite;
}

.utopia {
  width: 100%;
}

.call {
  /* background-color: #222; */
  border: dashed 2px #00f;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
  padding: 0.5rem;
  /* box-shadow: #222 0px 0px 50px 70px */
  transform: rotate(0deg);
  background-color: rgba(0, 0, 0, 0.5);
}
.vpcontainer {
  height: 150vh;
  width: 100%;
  position: absolute;
  top: 150px;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 33%,
    rgba(0, 0, 0, 0) 100%
  );
}

.vplogo {
  width: 80%;
  height: 100vh;
  background-image: url('http://virtualpalestine.net/%D8%B4%D8%B9%D8%A7%D8%B1_%D8%B4%D9%81%D8%A7%D9%81.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.call p {
  /* font-size: 2rem; */
  /* color: #f00; */
  text-indent: 20px;
  width: 90%;
  margin: auto;
}
.submit {
  font-family: 'pixel', monospace;
  text-align: center;
  margin: 20px;
  font-size: 4rem;
  letter-spacing: 5px;
  background-color: #ccc;
  padding: 1.5rem;
  border-radius: 50px;
}
.submit a {
  color: #00f;
}
.submit a:hover {
  color: #f00;
}
.footnotes {
  border-top: solid 2px #0f0;
  margin-top: 30px;
  padding-top: 10px;
}

p.highlight {
  /* font-family: Helvetica, sans-serif; */
  color: #0ff;
  font-style: italic;
  width: 100%;
  font-size: 1.2rem;
}
