@font-face {
    font-family: 'pixel';
    src: url('fonts/PxPlus_VGA_SquarePx.ttf'), url('fonts/PxPlus_VGA_SquarePx.woff');
}

/*

   ##   #    # # #    #   ##   ##### #  ####  #    #
  #  #  ##   # # ##  ##  #  #    #   # #    # ##   #
 #    # # #  # # # ## # #    #   #   # #    # # #  #
 ###### #  # # # #    # ######   #   # #    # #  # #
 #    # #   ## # #    # #    #   #   # #    # #   ##
 #    # #    # # #    # #    #   #   #  ####  #    #

*/

/* @-webkit-keyframes input-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0px 0px 180px 2px #0f0;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes input-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0px 0px 180px 2px #0f0;
    }
    100% {
        box-shadow: none;
    }
} */

/* SCROLLBAR */

/* Let's get this party started */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #000;
    /* THIS IS IMPORTANT */
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0f05
}

* {
    box-sizing: border-box;
    scrollbar-color: #0f05 #000;
}

html {
    font-size: 100%
}

body {
    background-color: #000;
    color: #0f0;
}

p, li, ul, h2, span {
    margin: 0px;
}
h2{
    word-break: break-all;
}
i{
    color: #f00;
}
a{
    color: #fa0;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    min-width: 300px;
    max-width: 700px;
    margin: auto;
}
.title-center {
    /* position: fixed; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
    background-color: transparent;
    text-align: center;
    font-family: 'pixel', monospace;
    font-size: 2rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    /* width: 33%;
    min-width: 300px; */
    /* width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -o-max-content; */
    -webkit-animation: input-shadow ease-in-out 3s infinite;
    /* Chrome, Safari, Opera */
    animation: input-shadow ease-in-out 3s infinite;
}

.call{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
}

.call p{
    /* font-size: 2rem; */
    /* color: #f00; */
    text-indent: 20px;
}

.footnotes{
    border-top: solid 2px #0f0;
    margin-top: 30px;
    padding-top: 10px;
}

.highlight{
    /* font-family: Helvetica, sans-serif; */
    color: #0ff;
    text-decoration: underline
}