@font-face {
    font-family: 'pixel';
    src: url('fonts/PxPlus_VGA_SquarePx.ttf'), url('fonts/PxPlus_VGA_SquarePx.woff');
}

/*

   ##   #    # # #    #   ##   ##### #  ####  #    #
  #  #  ##   # # ##  ##  #  #    #   # #    # ##   #
 #    # # #  # # # ## # #    #   #   # #    # # #  #
 ###### #  # # # #    # ######   #   # #    # #  # #
 #    # #   ## # #    # #    #   #   # #    # #   ##
 #    # #    # # #    # #    #   #   #  ####  #    #

*/

@-webkit-keyframes input-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0px 0px 180px 2px #0f0;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes input-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0px 0px 180px 2px #0f0;
    }
    100% {
        box-shadow: none;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%
}

body {
    background-color: #000;
    color: #0f0;
}

p {
    margin: 0px;
}

.title-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: transparent;
    text-align: center;
    font-family: 'pixel', monospace;
    font-size: 3rem;
    padding: 0.5rem;
    width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -o-max-content;
    -webkit-animation: input-shadow ease-in-out 3s infinite;
    /* Chrome, Safari, Opera */
    animation: input-shadow ease-in-out 3s infinite;
}