/* CSS for Paged.js interface */

/* Change the look */
:root {
    --color-background: chocolate;
    --color-pageBox: #666;
    --color-paper: cornsilk;
    --color-marginBox: transparent;
}

/* To define how the book look on the screen: */
@media screen {
    body {
        background-color: var(--color-background);
    }

    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width) * 2);
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .pagedjs_page {
        background-color: var(--color-paper);
        box-shadow: 0 0 0 1px var(--color-pageBox);
        margin: 0;
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 10mm;
    }

    .pagedjs_first_page {
        margin-left: var(--pagedjs-width);
    }

    .pagedjs_page:last-of-type {
        margin-bottom: 10mm;
    }

    /* show the margin-box */

    .pagedjs_margin-top-left-corner-holder,
    .pagedjs_margin-top,
    .pagedjs_margin-top-left,
    .pagedjs_margin-top-center,
    .pagedjs_margin-top-right,
    .pagedjs_margin-top-right-corner-holder,
    .pagedjs_margin-bottom-left-corner-holder,
    .pagedjs_margin-bottom,
    .pagedjs_margin-bottom-left,
    .pagedjs_margin-bottom-center,
    .pagedjs_margin-bottom-right,
    .pagedjs_margin-bottom-right-corner-holder,
    .pagedjs_margin-right,
    .pagedjs_margin-right-top,
    .pagedjs_margin-right-middle,
    .pagedjs_margin-right-bottom,
    .pagedjs_margin-left,
    .pagedjs_margin-left-top,
    .pagedjs_margin-left-middle,
    .pagedjs_margin-left-bottom {
        box-shadow: 0 0 0 1px inset var(--color-marginBox);
    }

    /* uncomment this part for recto/verso book : ------------------------------------ */

    /* 
    .pagedjs_pages {
        flex-direction: column;
        width: 100%;
    }

    .pagedjs_first_page {
        margin-left: 0;
    }

    .pagedjs_page {
        margin: 0 auto;
        margin-top: 10mm;
    } 
    */

    /*--------------------------------------------------------------------------------------*/

    /* uncomment this par to see the baseline : -------------------------------------------*/

    /* 
    .pagedjs_pagebox {
        --pagedjs-baseline: 11px;
        --pagedjs-baseline-position: -4px;
        --pagedjs-baseline-color: cyan;
        background: linear-gradient(var(--color-paper) 0%, var(--color-paper) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
        background-size: 100% var(--pagedjs-baseline);
        background-repeat: repeat-y;
        background-position-y: var(--pagedjs-baseline-position);
    } 
    */

    /*--------------------------------------------------------------------------------------*/

    .print-button {
        padding: 5px;
        color: blueviolet;
        font-family: "Fontlab", monospace;
        font-size: 1.5em;
        background-color: aliceblue;
        box-shadow: 2px 2px 2px blueviolet;
        transform: rotateZ(-14deg);
        z-index: 999;
    }
    .print-button:hover {
        box-shadow: 0 0 0 white;
    }

    .donotprint{
        visibility: visible !important;
    }

    .go-home {
        padding: 0.5em;
        border: 3px dashed #0f0;
    }
    .go-home:hover {
        background-color: #0f0;
        border: 3px dashed #00f;
    }
}

@media print {
    @page {
        size: A5;
        margin: 10mm 11mm;
    }
    @page:left {
        margin-left: 15mm;
        margin-right: 25mm;
    }
    @page:right {
        margin-left: 25mm;
        margin-right: 15mm;
    }
    section {
        break-before: page;
    }
    .break-right {
        break-before: right;
    }
    .break-left {
        break-before: left;
    }
    .donotprint {
        visibility: hidden;
    }
}

#cover-title {
    font-size: 3em;
    margin-top: 15vh;
}

section {
    font-family: "Fontlab", fantasy;
}

ul {
    list-style-type: square;
}

p {
    line-height: 1.8;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 1.9em;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

img {
    max-width: 100%;
}

.small {
    width: 48%;
    padding: 0.8em;
}

.right {
    float: right;
    padding-right: 0;
}

.left {
    float: left;
    padding-left: 0;
}
