@font-face {
    font-family: 'pixel';
    src: url('fonts/PxPlus_VGA_SquarePx.ttf'), url('fonts/PxPlus_VGA_SquarePx.woff');
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0f05;
}

* {
    box-sizing: border-box;
    scrollbar-color: #0f05 #000;
}

html {
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #33f;
    color: #eee;
}

p, li, ul, h2, span {
    margin: 0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 75%;
    height: auto;
    transform: perspective(1000px) rotateY(-45deg) translateZ(-300px);
}
.video-player{
    /* position: absolute; */
    /* top: 0px; */
    /* right: 0px; */
    width:640px;
    height:360px;
    box-shadow: 10px 10px #000;
}