*{
    box-sizing: border-box;
}
body{
    background-color: #33f;
}
.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.drum-machine, .knobs {
    width: 75%;
    height: 35%;
    background-color: #ccc;
    color: #00f;
    border: solid 2px #000;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px #f33;
}

.knobs-input{
    font-family: Courier, monospace;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.beat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 2rem;
}